<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       th:replace="layout :: layout(~{::title}, ~{::main}, ~{::script})">
<head>
    <title>Page Title</title>
    <script type="text/javascript" th:src="@{/js/users.js}" defer></script>
</head>
<main>
    <div class="table-responsive" id="usersDiv">
        <b-container class="bv-example-row">
            <b-row>
                <b-col>Name</b-col>
                <b-col>Email</b-col>
                <b-col>PHone</b-col>
            </b-row>
            <b-row v-for="user in users">
                <b-col>{{user.firstName}} {{user.lastName}}</b-col>
                <b-col>{{user.email}}</b-col>
                <b-col>{{user.phone}}</b-col>
            </b-row>
        </b-container>

    </div>

</main>
</html>